<!DOCTYPE html>
<html lang="en">
<head>
<%= partial "head" %>
</head>
<body id="page-top">

<%= partial "navbar" %>

<section id="content">
  <div class="container">
    <h1><%= current_page.data.title  %></h1>
    <%= yield %>
  </div>
</section>

<section class="bg-light-gray">
  <div class="container">
    <div class="row">
      <div class="col-sm-6">
        <%= partial "related" %>
      </div>
      <div class="col-sm-6">
        <%= partial "recent" %>
      </div>
    </div>
  </div>
</section>

<section>
  <div class="container">
    <%= partial "training" %>
  </div>
</section>

<section class="bg-light-gray">
  <div class="container">
    <%= partial "book" %>
  </div>
</section>

<section>
  <div class="container">
    <%= partial "comments" %>
  </div>
</section>

<%= partial "footer" %>

</body>
</html>
