<!DOCTYPE html>
<html lang="en">
<head>
<%= partial "head" %>
</head>
<body id="page-top">
<%= partial "navbar" %>
<section id="content"><div class="container">
  <h1><%= current_page.data.title  %></h1>
  <%= yield %>
</div></section>
<%= partial "footer" %>
</body>
</html>
