
<a class="btn" style="background-color:#3b5998;color:#fff" href="https://www.facebook.com/sharer/sharer.php?u=http://www.alexecollins.com<%= current_page.url %>"><i class="fa fa-facebook"></i></a>
<a class="btn" style="background-color:#dd4b39;;color:#fff" href="https://plus.google.com/share?url=http://www.alexecollins.com<%= current_page.url %>"><i class="fa fa-google-plus"></i></a>
<a class="btn" style="background-color:#55acee;color:#fff" href="https://twitter.com/intent/tweet?text=<%= current_page.data.title  %>&amp;url=http://www.alexecollins.com<%= current_page.url %>"><i class="fa fa-twitter"></i></a>
<a class="btn" style="background-color:#007bb6;color:#fff"  href="http://www.linkedin.com/shareArticle?mini=true&amp;url=http://www.alexecollins.com<%= current_page.url %>"><i class="fa fa-linkedin"></i></a>
<a class="btn" style="background-color:#ccc;color:#fff"  href="mailto:?subject=<%= current_page.data.title  %>&amp;body=http://www.alexecollins.com<%= current_page.url %>"><i class="fa fa-envelope"></i></a>
